body {
  font-weight: 400;
  text-align: center;
}

/*Headings*/
.big-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.big-heading::after {
  content: "DIET";
  font-size: 3.5rem;
  color: #45ad61;
}

.section-heading {
  text-decoration: underline;
}

/*Containers*/
.container-fluid {
  padding: 7% 15%;
}

/*Sections*/
.coloured-section {
  background-color: black;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-brand::after {
  content: "DIET";
  color: #45ad61;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0 18px;
  color: white;
}

.nav-link:hover {
  color: #45ad61;
}

/*Title Section*/
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-paragraph {
  margin-top: 230px;
  margin-bottom: 0;
  color: white;
}

/*Title Image*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Feature Section */
#features {
}

.feature-head {
  font-weight: bold;
}

.feature-title-1 {
  font-size: 1.5rem;
  color: #45ad61;
}

.feature-title-1::after {
  content: " DIETICIAN";
  color: black;
}

.feature-title-1::before {
  content: "G";
  color: black;
}

.feature-title-2 {
  font-size: 1.5rem;
  color: #45ad61;
}

.feature-title-2::after {
  content: " DIET CHEF";
  color: black;
}

.feature-title-2::before {
  content: "G";
  color: black;
}

.feature-title-3 {
  font-size: 1.5rem;
  color: #45ad61;
}

.feature-title-3::after {
  content: " TRAINER";
  color: black;
}

.feature-title-3::before {
  content: "G";
  color: black;
}

.feature-box {
  padding: 4.5%;
  text-align: justify;
}

.feature-box2 {
  padding: 4.5%;
  text-align: justify;
  margin-right: 200px;
}

.feature-subtitle {
  font-weight: normal;
  color: black;
}

.feature-heading {
  text-decoration: underline;
  text-decoration-color: black;
  color: #45ad61;
}

.feature-heading::after {
  content: " SERVICES";
  color: black;
  text-decoration: underline;
}

.feature-heading::before {
  content: "G";
  color: black;
  text-decoration: underline;
}

.DIETICIAN-gd-image {
  width: 167px;
  height: 166px;
  float: right;
  margin-top: 40px;
}

.DIET-CHEF-gd-image {
  width: 100px;
  height: 171.6px;
  float: right;
  margin-top: 40px;
}

.TRAINER-gd-image {
  width: 164.6px;
  height: 168.3px;
  float: right;
  margin-top: 70px;
}

/*Testimonials Section*/
#testimonials {
  background-color: black;
  padding: 0 40px;
}

.gd-menu-titles {
  color: #45ad61;
  font-size: 4rem;
  padding: 20px 0;
}

.menu-column {
  padding: 20px;
  text-align: center;
}

.food-images {
  width: 300px;
  height: 300px;
}

.gd-menu-paragraph {
  text-align: center;
  color: #000;
}

.gd-menu-items {
  margin-top: 20px;
  color: #000;
}

.gd-menu-stats {
  color: #000;
}

.testimonials-heading {
  color: #45ad61;
  padding: 5% 5% 1.5% 5%;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-heading::before {
  content: "G";
  color: white;
}

.testimonials-heading::after {
  content: " MENU";
  color: white;
}

/*Press Section*/
#press {
  background-color: black;
  padding: 100px;
  color: white;
}

.press-column {
  padding: 3% 2%;
  color: black;
}

/*Pricing Section*/
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2rem;
  line-height: 1.5
}

.pricing-paragraph {
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
  margin: 0 auto;
}

/*Contact Section*/

#contact {
}

.contact-heading {
  font-size: 2.5rem;
  line-height: 2em;
  text-align: center;
  color: #fff;
}

.contact-heading:hover {
  color: #45ad61;
  text-decoration: none;
}

/* .contact-heading::after {
  content: "D";
  color: #45ad61;
} */

.unordered-list {
  text-align: left;
}

.footer-btn {
  	background: #45ad61;
  	background-image: -webkit-linear-gradient(top, #45ad61, #45ad61);
  	background-image: -moz-linear-gradient(top, #45ad61, #45ad61);
  	background-image: -ms-linear-gradient(top, #45ad61, #45ad61);
  	background-image: -o-linear-gradient(top, #45ad61, #45ad61);
  	background-image: linear-gradient(to bottom, #45ad61, #45ad61);
  	-webkit-border-radius: 8;
  	-moz-border-radius: 8;
 	  border-radius: 8px;
 	  text-shadow: 1px 1px 3px #666666;
  	-webkit-box-shadow: 0px 1px 3px #666666;
  	-moz-box-shadow: 0px 1px 3px #666666;
  	box-shadow: 0px 1px 3px #666666;
  	font-family: 'Montserrat', sans-serif;
  	color: #ffffff;
  	font-size: 20px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

.footer-btn:hover {
  	background: #35bd59;
  	background-image: -webkit-linear-gradient(top, #35bd59, #35bd59);
  	background-image: -moz-linear-gradient(top, #35bd59, #35bd59);
  	background-image: -ms-linear-gradient(top, #35bd59, #35bd59);
  	background-image: -o-linear-gradient(top, #35bd59, #35bd59);
  	background-image: linear-gradient(to bottom, #35bd59, #35bd59);
  	text-decoration: none;
    color: #000;
}

/*Footer Section*/
.social-icon {
  margin: 20px 10px;
  color: #000;
}

.social-icon:hover {
  color: #45ad61;
}

.title-div {
  text-align: center;
}

/* Media Section */

@media (max-width: 1000px) {
  .navbar-brand {
    visibility: hidden;
    margin-right: 200px;
  }
  .starting-link {
    margin-right: 70px;
  }

  .pricing-column {
    margin-left: 120px;
  }

  .section-heading {
    font-size: 3.3rem;
  }

  .big-heading {
    font-size: 5rem;
  }

  .big-heading::after {
    font-size: 5rem;
  }

  .sub-heading {
    font-size: 3rem;
  }

  .title-paragraph {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 3rem;
  }

  .container-fluid {
    padding: 6.6% 1.6% 6.6% 1.6%;
  }

  .feature-subtitle {
    font-size: 1.3rem;
  }

  .footer-paragraph {
    font-size: 1.3rem;
  }

  .pricing-paragraph {
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .GD-Logo-image {
    visibility: hidden;
  }
}
